<center>

<br>
⸻
<p>{{ .Site.Params.copyright.type }} {{.Site.Params.copyright.symbol}} {{ now.Year }} {{ .Site.Params.copyright.preposition}} {{ .Site.Params.copyright.name }} {{ .Site.Params.copyright.statement }}</p>
<!-- hitwebcounter Code START -->
<a href="https://www.hitwebcounter.com/" target="_blank">
<img src="https://hitwebcounter.com/counter/counter.php?page=21472256&style=0023&nbdigits=9&type=page&initCount=0" title="Free Tools" Alt="Free Tools"   border="0" /></a>
<!-- hitwebcounter Code STOP -->
</center>
